:root {
  --main-green: #596D48;
  --danger-red: red;
  --light-grey: #E5E7EB;
  --success-blue: blue;
}

@font-face {
  font-family: 'Norse Bold';
  src: url(./res/fonts/Norse-Bold.woff2);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
}

a {
  color: inherit;
}

aside {
  width: 37%;
  height: 100vh;
  background-image: url(./res/green-leeves.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

aside header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  background-color: rgba(0, 0, 0, .4);
}

aside header h1 {
  color: white;
  font-family: 'Norse Bold';
  font-size: 80px;
  padding-top: 22px;
}

aside footer {
  margin-bottom: 16px;
}

aside footer p {
  color: rgb(197, 197, 197);
  font-size: 14px;
}